.vscode/
# ignore config artifacts
ft-to-inv.jsonc
import.old.json
invidious-import.json
playlist-import.json
ft-to-inv-test.jsonc
ft-to-test.jsonc
triage-results.json
# this is the same as .gitignore
.env
/plugins/
